extends layout.pug

block content
  main
    h2 Dreams Of People
    ul.dreams
      li.dream
        a(href="/dreams/id") Dream 1
      li.dream
        a(href="/dreams/id") Dream 2
      li.dream
        a(href="/dreams/id") Dream 3