extends layout.pug

block content
  main
    if dreams.length
      h2 Dreams Of People
      each dream in dreams 
        ul.dreams
          li.dream
            a(href=`/dreams/${dream.id}`)=dream.title
    else
      h2 There's no dream added yet!
    a(href="/dreams/add").btn-add Add Dream
    if success 
      h3.success Successfully added!
    if delete_success 
      h3.success Successfully deleted!
    