extends layout.pug

block content
  main
    h2 Dream Title
    p.dream-text Lorem ipsum dolor sit amet consectetur adipisicing elit. At laudantium nostrum necessitatibus odio laboriosam inventore commodi, possimus eligendi, officiis sunt voluptatibus consequatur consequuntur deleniti, eos tempora natus quis cumque adipisci?