doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles/styles.css")
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Coiny&family=Lily+Script+One&display=swap' rel='stylesheet')
    title Dreams
  body
  nav 
    ul
      li 
        a(href='/') Home
      li 
        a(href='/dreams') Dreams
  block content
  footer 
    p.disclaimer This web application was created by 00010851 to fulfill Web Technology module’s requirements and does not represent an actual company or service